// Colors
$primary-color: #e65c43;
$secondary-color: #666;
$white-color: #fff;
$headline-bg-color: #f25c43;
$greybar-bg-color: #f5f6f6;
$footer-bg-color: #30353d;

// Image Paths
$bg-image: "../images/bg.gif";
$logo-image: "../images/logo.png";
$devices-image: "../images/devices.png";
$vprospect-image: "../images/vprospect.png";
$vconvert-image: "../images/vconvert.png";
$social-media-image: "../images/social-media.png";

$font-stack: "Roboto", sans-serif;
$social-icon-x-offset: 38px;
