body {
    margin: 10px;
    font-family: Arial, sans-serif;
    width: 960px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "logo navi"
        "feat feat"
        "prd1 prd2"
        "notice notice";
    gap: 20px;
}

.item {
    background: #c0c0c0;
}

.logo {
    grid-area: logo;
    width: 50%;
    height: 80px;
}

.navi {
    grid-area: navi;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0 auto 0;
}

.featured-product {
    grid-area: feat;
    height: 300px;
}

.product1 {
    grid-area: prd1;
    height: 150px;
}

.product2 {
    grid-area: prd2;
}

.notice {
    grid-area: notice;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
